<div id="container">
<div class="about-us">
  <p>KNOW MORE ABOUT US</p>
  <ul>
    <li><a href=".">Careers</a></li>
    <li><a href=".">About us</a></li>
    <li><a href=".">Terms and conditions</a></li>
    <li><a href=".">Privacy Policy</a></li>
  </ul>
</div>
<div class="social">
  <p>SOCIAL MEDIA</p>
    <span><a href=""><i class="fab fa-facebook"></i></a></span>
      <span><a href=""><i class="fab fa-twitter-square"></i></a></span>
      <span><a href=""><i class="fab fa-youtube"></i></a></span>
</div>
<div class="copyright"><span>Copyright, Pichania, 2018.</span></div>
</div>