<div class="container">
          <div class=thumbnails>
              <div><img (click)="switchImg(1)" src="../../assets/{{item.codename}}/1.jpg"></div>
              <div *ngIf=[(img2)]><img (click)="switchImg(2)" src="../../assets/{{item.codename}}/2.jpg"></div>
              <div *ngIf=[(img3)]><img (click)="switchImg(3)" src="../../assets/{{item.codename}}/3.jpg"></div>
              <div *ngIf=[(img4)]><img (click)="switchImg(4)" src="../../assets/{{item.codename}}/4.jpg"></div>
          </div> 
        <div class="defaultImg"><img src="../../assets/{{item.codename}}/{{default_image}}.jpg"></div>
    <div class="cell">
      <h3 class="title">{{item.itemName}}</h3>
      <h4 class="price">KES {{item.price}}</h4>
      <p class="moq">MOQ: {{item.moq}}</p>
      <p class="description"></p>
      <div class="buy_choices">
        <i class="fas fa-shipping-fast"></i>
        <label for="">Free shipping</label>
      </div>
      <div class="buy_choices">
          <i class="fas fa-hands-helping"></i>
          <label for="">Pay on delivery</label>
        </div>
      <button>Send Inquiry</button>
      <button>Start Order</button>
    </div>
</div>