<div id="container">
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">Create New Item</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="items">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Item Name</th>
        <td mat-cell *matCellDef="let element">{{(element.itemName.length>40)? (element.itemName | slice:0:40)+'...':(element.itemName)}}</td>
      </ng-container>

      <ng-container matColumnDef="codename">
          <th mat-header-cell *matHeaderCellDef>Codename</th>
          <td mat-cell *matCellDef="let element">{{element.codename}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element" class="price">{{element.price}}</td>
          </ng-container>

          <ng-container matColumnDef="moq">
              <th mat-header-cell *matHeaderCellDef>Minimum Order Quantity</th>
              <td mat-cell *matCellDef="let element">{{element.moq}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element" class="mat-column-right">
                    <button mat-button color="primary" (click)="editItem(element._id)">Edit</button>
                    <button mat-button color="warn" (click)="deleteItem(element._id)">Delete</button>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>