.container{
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Raleway";
}
section h1{
  margin: 15px, auto;
}

.example-card {
    width: 200px;
    margin: 10px;
  }
  

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

  button {
    border: none;
    color: #008CBA;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
}

  button:hover{
    background-color: rgb(71, 116, 117);
    color: #fff;
    border: none;
    //0795408205
  }

  li:nth-child(1){
    font-weight: bold;
    font-size: 1.2em;
    padding-Bottom: 8px;
  }

  li:nth-child(2){
    padding-Bottom: 8px;
    color: grey;
  }

  .bdimg{
    padding: 100px;
  }

  a{
    text-decoration: none;
  }