<div class="container">
  <section >
    <h1>Search Results</h1>
  </section>
    
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile
        *ngFor="let s of searches"
        [colspan]="1"
        [rowspan]="2">
      
        <a (click)="viewItem(s._id)">
          <mat-card class="example-card">
            <img mat-card-image src="../../assets/{{s.codename}}/1.jpg">
            <mat-card-content>
          <ul>
            <li>{{(s.itemName.length>40)? (s.itemName | slice:0:40)+'...':(s.itemName)}}</li>
            <li>Ksh.{{s.price}}</li>
            <li> {{s.moq}} items (MOQ)</li>
          </ul>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
          </a>
  
    </mat-grid-tile>
  </mat-grid-list>

        <div *ngIf="!this.filteredNames" class="not-found">
          <h1>Sorry, we couldn't find that item..</h1>
          <a class="go-home" (click)="goHome()">Go back?</a>
        </div>

      </div>